Django==2.1.7
django-cors-headers==2.5.0
django-storage-swift==1.2.19
django-filter==2.1.0
django-cleanup==3.2.0
graphene-django==2.2.0
django-graphql-jwt==0.2.0
graphene-file-upload==1.2.2
django-environ==0.4.5
PyMySQL==0.9.3
Pillow==6.2.0
uwsgi
django-cors-headers==2.5.0
django-request-logging==0.6.7
dateutils==0.6.6
django-resized==0.3.9
django-tinymce